body{
    background-color: bisque;
}
h1{
    text-align: center;
    color: darkcyan;
    font-size: 50px;
    font-family: sans-serif;
}

h2{
    color: maroon;
    font-family: monospace;
    font-size: 25px;

  }
  h3{
      color: blueviolet;
      font-style: italic;
      font-family: monospace;
      font-size: 20px;
      
}
  p{
      font-family: courier;
      float: left;
  }

#equil{
    width:0;
    border-bottom:150px solid grey;
    border-right:150px solid transparent;
    border-left: 150px solid transparent;
    
}
#isosc{
    width:0;
    border-bottom:100px solid maroon;
    border-right: 100px solid transparent;
    border-left: 200px solid ;
}
#scal{
    width:0;
    border-bottom:90px solid violet;
    border-right: 150px solid transparent;
    border-left: 220px solid dashed;
}
#notdef{
    width:0;
    border-bottom:100px solid maroon;
    border-right: 100px solid transparent;
    border-left: 200px solid ;
    border-bottom-right-radius: 50px,
}