#equil{
    width:0;
    border-bottom:150px solid grey;
    border-right: 150px solid transparent;
    border-left: 150px solid transparent;
    
}
#isosc{
    width:0;
    border-bottom:100px solid maroon;
    border-right: 100px solid transparent;
    border-left: 200px solid ;
}
#scal{
    width:0;
    border-bottom:90px solid violet;
    border-right: 150px solid transparent;
    border-left: 220px solid dashed;
}